$li_dash_height: 5px;

.outerContainer {
	width: 100%;
	z-index: 0;
	
	.background {
		position: fixed;
		@include position(0);
		z-index: -1;
	}

  .hero {
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    overflow: hidden;

    .heroContent {
      // color: $purple;
      color: white;
      font-size: 1.75em;
      text-shadow: 1px 2px 2px black;
      z-index: 1;
      max-width: 600px;
      text-align: center;
      transform: translateY(50vh);

      @keyframes :global(takeoff) {
        0% {
          transform: translate(100px, 50vh) rotateZ(10deg);
        }
        30% {
          transform: translateY(0) rotateZ(-2deg);
        }
        48% {
          transform: translate(2px, 2px) rotateZ(2deg);
        }
        66% {
          transform: translate(-2px, 2px) rotateZ(-2deg);
        }
        84% {
          transform: translate(2px, -2px) rotateZ(2deg);
        }
        90% {
          transform: translate(-5px, -2px) rotateZ(-30deg);
        }
        100% {
          transform: rotateZ(-30deg) translateX(1500px);
        }
      }

      &.animate:global {
        animation: takeoff 20s;
        transform: rotateZ(-30deg) translateX(1500px);
      }
    }
  }

  .hero2 {
		clip-path: polygon(0% 28%, 0% 100%, 100% 100%, 100% 0%, 0% 0%, 0% 28%, 2% 61%, 4% 19%, 5% 65%, 7% 22%, 8% 57%, 9% 28%, 10% 55%, 13% 28%, 14% 47%, 19% 24%, 23% 41%, 29% 28%, 36% 45%, 42% 19%, 48% 48%, 56% 17%, 64% 27%, 70% 11%, 77% 41%, 84% 14%, 89% 23%, 90% 9%, 95% 11%, 100% 0, 96% 31%, 92% 25%, 90% 40%, 85% 33%, 77% 62%, 70% 30%, 65% 44%, 56% 33%, 48% 67%, 42% 36%, 36% 60%, 29% 40%, 23% 56%, 20% 40%, 15% 64%, 13% 45%, 11% 70%, 9% 51%, 8% 71%, 7% 44%, 5% 78%, 4% 40%, 2% 75%);
		background-color: $primary_color;
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bullet {
    // clip-path: url(#bullet);
    clip-path: circle(50% at 50% 50%);
    width: 0.75em;
    height: 0.75em;
    margin-left: -1.1em;
    margin-top: 0.13em;
    float: left;
    position: relative;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portfolioContainer {
    width: 100%;
  }

  .contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .socialContainer {
    display: inline-block;
    > a {
      font-size: 1.5em;
      text-decoration: none;
      margin: 0 $padding;
      @include Clickable;
    }
  }
}


.skills {
	display: flex;
	justify-content: space-between;
	align-content: stretch;

	@for $i from 1 to 5 {
		> div:nth-child(#{$i}) {
			> div {
				div:first-child {
					animation-delay: ($i - 1) * 500ms;
				}
				div:last-child {
					animation-delay: ($i - 1) * 500ms + 1s;
				}
			}
		}
	}
}


@media (max-width: 665px) {
	.skills {
		flex-wrap: wrap;
	}
}
