$quotes_white: #e9e9e9;

.background {
  
  position: fixed;
  @include position(0);
  z-index: -1;
  background-color: currentColor;
}

.container {
  position: relative;
  z-index: 0;
  padding: 20px;
  transition: all 1s ease;
}

.quoteContainer {
  margin: 40px auto;
  padding: 40px;
  @include position(0);
  max-width: $max_content_width;
  background-color: $quotes_white;
  border-radius: 6px;
  box-sizing: border-box;
  color: currentColor;
  transition: color 1s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  > h3 {
    min-height: 3em;
  }

  .bottomContainer {
    display: flex;
    justify-content: space-between;
    > h4 {
      flex-grow: 1;
      text-align: right;
      margin: 0;
    }
    > * {
      padding: 10px;
      &:first-child {
        padding-left: 0;
      }
    }
  }

  .nextQuote {
    color: currentColor;
    background-color: currentColor;
    border-radius: 5px;
    border: none;
    @include Clickable;
    transition: box-shadow 250ms ease;
    > * {
      color: $quotes_white;
    }
    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
}

.icon {
  @include Clickable;
  transition: text-shadow 250ms ease;
  &:hover {
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
  }
}