$icomoon-font-path: "fonts" !default;

$icon-at-sign: \e903;
$icon-cast: \e904;
$icon-check: \e905;
$icon-chevron-down: \e906;
$icon-chevron-up: \e907;
$icon-delete: \e908;
$icon-download-cloud: \e909;
$icon-edit: \e90a;
$icon-github: \e90b;
$icon-gitlab: \e90c;
$icon-hash: \e916;
$icon-linkedin: \e90d;
$icon-rss: \e90e;
$icon-send: \e90f;
$icon-slack: \e910;
$icon-terminal: \e911;
$icon-thumbs-down: \e912;
$icon-thumbs-up: \e913;
$icon-twitter: \e914;
$icon-user: \e915;
$icon-social-linkedin: \e900;

