$font_size_heading: 24px;
$font_size_subheading: 16px;
$image_width: 200px;

.container {
	> * {
		vertical-align: top;
		display: inline-block;
		margin: $padding*2;
	}
	.imageContent {
		margin-left: 0;
		margin-right: 0;
		width: 200px;
		height: 100%;
		max-height: 100px;
	}
	.heading {
		font-size: $font_size_heading;
	}
	.subheading {
		font-size: $font_size_subheading;
	}
}