$font_size_heading: 24px;
$font_size_subheading: 16px;
$image_width: 200px;

.container {
	display: flex;
	align-items: center;

	@media (max-width: 618px) {
		flex-direction: column;
		text-align: center;
	}
	// > * {
	// 	vertical-align: top;
	// 	display: inline-block;
	// 	margin: $padding*2;
	// }
	.imageContent {
		padding: 50px;
		width: 200px;
		max-height: 100px;
	}

	

	.heading {
		font-size: $font_size_heading;
	}
	.subheading {
		font-size: $font_size_subheading;
	}
}